# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Distribution
build/
dist/
*.egg-info/